%p= link_to 'New poll', new_poll_path, class: 'button medium rounded blue'
.medium-offset.bottom
- @polls.each do |f|
  .inline
    %h4= f.name
  .inline
    .meta.small
      %span= link_to 'Show', poll_path(f)
      %span= link_to 'Edit', edit_poll_path(f)
  - f.questions.each do |g|
    .extrasmall-offset.up
      - unless g.title == nil || g.comment == nil
        %p= g.title
        .inline
          .meta.italic
            %p= g.comment
        .inline
          - if session[:voted] == true
            .meta.border.round
              %p= g.votes_count
          - else
            %p= link_to 'Vote', upvote_question_path(g), class: 'meta underline' unless !signed_in?
  .extrasmall-offset.up
    - if session[:voted] == true
      %p= link_to 'Revote', revote_question_path(f), class: 'meta underline' unless !signed_in?
  .medium-offset.bottom
