%h3
  Edit #{resource_name.to_s.humanize}
  .small-offset.bottom
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :username
    %br/
    = f.text_field :username, class: 'textform'
  %div
    = f.label :email
    %br/
    = f.email_field :email, class: 'textform', :autofocus => true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, class: 'textform', :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, class: 'textform'
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, class: 'textform'
  %div= f.submit "Update", class: 'button medium rounded blue'
  .medium-offset.bottom
%h3 Cancel my account
%p
  #{button_to "Cancel my account", registration_path(resource_name), class: 'button medium rounded pink', :data => { :confirm => "Are you sure?" }, :method => :delete}
.small-offset.bottom
= link_to "Back", :back, class: 'button medium rounded blue'
