%h3 Sign up
.small-offset.bottom
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, class: 'textform', :autofocus => true
  .extrasmall-offset.bottom
  %div
    = f.label :password
    %br/
    = f.password_field :password, class: 'textform'
  .extrasmall-offset.bottom
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, class: 'textform'
  .extrasmall-offset.bottom
  %div= f.submit "Sign up", class: 'button medium rounded lime'
