- if flash[:error]
  .alert.error.center= flash[:error]
- if flash[:success]
  .alert.success.center= flash[:success]
- if flash[:warning]
  .alert.warning.center= flash[:warning]
- if flash[:notice]
  .alert.notice.center= flash[:notice]
