.menubar
  .content
    .left
      .navbar-element
        %h3= link_to "Voting", root_path
    .right
      - if user_signed_in?
        .navbar-element= link_to current_user.username, settings_path
        .navbar-element #{link_to "Log out", destroy_user_session_path, method: :delete}
      - else
        .navbar-element= link_to "Log in", login_path
        .navbar-element= link_to "Sign up", join_path
