.fields
  = form_for @poll do |f|
    = f.label :name
    = f.text_field :name, class: 'textform'
    .medium-offset.bottom
    
    = f.fields_for :questions do |builder|
      = builder.label :title
      %p= builder.text_field :title, class: 'textform'
      = builder.label :comment
      %p= builder.text_field :comment, class: 'textform'
      .inline
        = builder.check_box :_destroy
      .inline
        = builder.label :_destroy, "Remove"
      .small-offset.bottom
    %p= link_to 'New question', newquestion_poll_path(f)
    .small-offset.bottom
    = f.submit 'Update', class: 'button medium rounded blue'
