.fields
  = form_for @poll do |f|
    = f.label :name
    = f.text_field :name, class: 'textform'
    .small-offset.bottom
    
    = f.fields_for :questions do |builder|
      %p= builder.text_field :title, placeholder: 'Title', class: 'textform'
      %p= builder.text_field :comment, placeholder: 'Comment', class: 'textform'
      .small-offset.bottom
    .small-offset.bottom
    = f.submit 'Create', class: 'button medium rounded blue'
