%h4= @poll.name
.extrasmall-offset.up
- for question in @poll.questions.each
  %p= question.title
  .inline
    .meta.italic
      %p= question.comment
  .inline
    - unless question.title == nil || question.comment == nil
      - if session[:voted] == true
        .meta.border.round
          %p= question.votes_count
      - else
        %p= link_to 'Vote', upvote_question_path(question), class: 'meta underline' unless !signed_in?
