img
{
	border: none;
}

/** RESET
===================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
color: #333333;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
a, a:visited {
  text-decoration: none;
}

.dashed {
	display: inline;
	border-bottom: 1px dashed #FE4365;
	&:hover {
		color: #f00000;
	}
}

/** MIXINS */

@mixin rounded ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow ($first, $second, $third, $color) {
	-webkit-box-shadow: $first $second $third $color;
  -moz-box-shadow: 		$first $second $third $color;
  box-shadow: 				$first $second $third $color;
}

@mixin transition {
	-webkit-transition: all .2s ease;
	-moz-transition: 		all .2s ease;
	-ms-transition: 		all .2s ease;
	-o-transition: 			all .2s ease;
	transition: 				all .2s ease;
}

@mixin translation ($first, $second) {
	webkit-transform: translate($first, $second);
	-moz-transform: translate($first, $second);
	transform: translate($first, $second);
}

html, body {
	height: 100%;
}
body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	width: 100%;
}

footer a:hover {color: #167F39;}

.logo {
	display: inline-block;
	margin: 10px 0 20px 0;
	z-index: 9000;
}

.phone {
	float: right;
	width: 300px;
	height: 90px;
	margin: 10px 0 0 0;
	text-align: right;
}

.phone p {
	line-height: 90%;
	font-size: 28px;
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.vertical-menu, .vertical-menu-1, .vertical-menu-2 {
	float: left;
	text-align: left;
	line-height: 1.5;
	font-size: 15px;
	h1 {
		margin: 0 0 15px 0;
	}
	li {
		margin: 0 0 5px 0;
		list-style: none;
	}
}
.vertical-menu-1 {
	width: 260px;
}
.vertical-menu-2 {
	width: 300px;
}
.vertical-block-1 {
	width: 350px;
}
.vertical-block-2 {
	width: 400px;
}
.vertical-block-3 {
	width: 450px;
}
.vertical-block-4 {
	width: 500px;
}
.vertical-block-5 {
	width: 550px;
}
.vertical-block-6 {
	width: 600px;
}
.vertical-block, .vertical-block-1, .vertical-block-2, .vertical-block-3, .vertical-block-4, .vertical-block-5, .vertical-block-6 {
	margin: 0 0 0 40px;
	font-size: 14px;
	h3 {
		margin: 0 0 10px 0;
		/*text-transform: uppercase;*/
	}
	p {
		display: block;
		line-height: 1.5;
	}
	span {
		display: block;
		line-height: 18px;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
	.square-image {
		float: left;
		width: 220px;
		height: 220px;
	}
}

.column {
	float: left;
	width: 33%;
	text-align: center;
	/*background: image-url("cat-monit.png") no-repeat;*/
}
.image-teaser {
	
}

#prod_header {
	margin: 0 0 100px 0;
}
#prod_header a:hover {color: #167F39;}

#categories {
	margin: 30px 0 20px 0;
}
#categories a:hover {color: #167F39;}

#cat_name {
	position: relative;
	font-size: 40px
}

#cat_img {
	position: absolute;
	width: 400px;
	height: 300px;
	margin: 20px 0 0 0;
}

#cat_info {
	float: right;
	width: 500px;
	margin: 20px 0 0 60px;
	border: 1px solid #E4E4E4;
	background: #f5f5f5;
}

.info_block {
	font-size: 14px;
	margin: 0 0 10px 20px;
	word-wrap: break-word
}

.info_block p {font-size: 18px;}
.info_block span {font-size: 40px;}

#cat_price {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#cat_tel {
	width: 270px;
	height: 40px;
	margin-top: 2px 0 2px 0;
	font-size: 30px;
	color: #ffffff;
	background: #167F39;
	-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	line-height: 40px;
}

#sort_name {
	float: left;
	width: 300px;
	font-size: 37px;
}

#info_text {
	font-size: 18px;
	margin: 10px 0 0 0;
}

#sort {
	position: relative;
	float: left;
	margin-left: 25px;
	margin-top: -19px;
	line-height: 50%;
}

#sort_prod {
	position: relative;
	float: right;
	text-align: right;
	margin-top: -19px;
}
.page-border {
	margin: 40px;
}
.content {
	min-height: 100%;
	padding-top: 5px;
	padding-bottom: 60px;
	margin: 0 auto;
	width: 960px;
	/*margin-bottom: -40px; PLACE IT IN 'STYLES'*/
}
.content:after {
  content: "";
  display: block;
}

.content table {
	width: 960px;
	height: auto;
}

.content tr {
	padding-top: 50px; 
	width: 960px;
}

.content td {
	/*display: block;*/
	width: 300px;
}


.bordered {
	border: 2px solid #444444;
}

footer
{
	width: 100%;
}

/*PLACE IT IN 'STYLES'*/
/*.footer, .content:after {
  height: 40px; 
}*/


.footer {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	bottom: 0;
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid #e5e5e5;
	li {
		display: inline-block;
		padding: 0 40px 0 0;
	}
	.text-bar {
		float: left;
		margin: 0 0 0 30px;
		li {
			display: block;
			padding: 0 0 4px 0;
		}
		h3 {
			margin: 0 0 5px 0;
			letter-spacing: 2px;
			font-size: 15px;
			font-weight: normal;
		}
		font-size: 15px;
		font-weight: normal;
	}
	.glyphs {
		a {
			display: inline-block;
		}
		.facebook {

		}
		.twitter {

		}
		.vkontakte {

		}
	}
}

.bar_title {
	font-size: 26px;
	padding-bottom: 10px;
}

#range_bar {
	position: relative;
	width: 300px;
	text-align: center;
	float: left;
	z-index: 9000;
	margin-bottom: 30px;
}

#range {
	float: left;
	background: #ffffff;
	border: 1px solid #E4E4E4;
	position: relative;
	width: 300px;
	height: 350px;
	text-align: center;
	padding: 0;
	margin: 0;
}



#order {
	background: #ffffff;
	border: 1px solid #E4E4E4;
	position: relative;
	width: 300px;
	height: 350px;
	text-align: center;
	padding: 0;
}

#order_tel {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 50px;;
	font-size: 18px;
	color: #ffffff;
	background: #167F39;
	width: 170px;
	height: 25px;
	-webkit-border-radius: 7px;
   -moz-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	line-height: 25px;
}

#about_bar {
	
	position: relative;
	margin-left: 660px;
	width: 300px;
	text-align: center;
	margin-bottom: 30px;
}

#about {	
	background: #ffffff;
	border: 1px solid #E4E4E4;
	position: relative;
	width: 300px;
	height: 350px;
	text-align: center;
}

#about_text, #order_text {
	padding: 15px;
	padding-top: 10px;
}

#about p {
	font-size: 18px;
	margin: 0;
	line-height: 100%;
}

#about_view {
	padding-top: 120px;
	text-align: center;
}

#about_view a:hover {color: #167F39;}

#about_block {
	display: inline-block;
	padding-top: 40px;
}

#about_block p {
	font-size: 18px;
	line-height: normal;
}

#about_bold {
	font-family: HelveticaNeueCyr-Roman;
}

.product_1, .product_2, .product_3 {
	position: absolute;
	width: 300px;
	height: 350px;
	margin: 0 0 30px 0;
	text-align: center;
	font-size: 23px;
	background: #ffffff;
	border: 1px solid #E4E4E4;
}

.product_1 img {margin-top: 50px;} 
.product_2 img {margin-top: 50px;} 
.product_3 img {margin-top: 50px;} 

.product_1 p {
	font-family: HelveticaNeueCyr;
	padding-top: 20px;
	font-size: 19px;
}
.product_2 p {
	padding-top: 20px;
	font-size: 19px;
}
.product_3 p {
	padding-top: 20px;
	font-size: 19px;
}

.product_2 {margin-left:330px;}
.product_3 {margin-left:660px;}

.slider a:hover {color: #167F39;}
.slider .slides {
	display: block;
	position: relative;
	overflow: visible;
	padding: 0;
	margin: 0;
}

.slider .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.slider .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}

.slider .slides li p
{
	font-size: 19px;
}

.slider .slides li.active { display: block; position: relative; }
.slider .crop li img { width: auto; }

.slider .pager {
	position: relative;
	overflow: hidden;
	height: 40px;
	text-align: center;
	padding: 0;
	margin-top: 60px;
	margin-bottom: 0;
}
.slider .pager li { display: inline-block; }
.slider .pager li a,
.slider .pager li a span {
	display: block;
	height: 10px;
	width: 10px;
}
.slider .pager li a {
	padding: 18px 8px;
	@include rounded(5px);
}
.slider .pager li a span {
	overflow: hidden;
	background: #666;
	text-indent: -9999px;
	@include rounded(6px);
}
.slider .pager li.active a span { background: #404040; }

#slider_view {
	margin-top: 10px;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9000;
}
.header-content {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	.header-element {
		display: inline-block;
	}
}

.navbar, .menubar {
	/*margin: 7px 0 0 0;*/
	list-style: none;
	overflow: hidden;
	text-align: center;
	.navbar-element {
		display: inline-block;
	}
	&.fixed {
		position: fixed;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
}
.navbar-horizontal li {
	display: inline-block;
}
.navbar a, .menubar a {
	display: block;
	/*font-size: 16px;*/
	padding: 11px 15px 9px 3px;
	text-decoration: none;
}

.current {
	background-color: #f4f4f4;
	border-right: 5px solid #FE4365;
}

.section {
	margin: 0 0 25px 0;
}
#section-1 {
	padding-top: 20px;
}

.contact {
	background: #363739;
}

.row {
	overflow: hidden;
	padding: 10px 0 10px 0;
}
.center {
	vertical-align: middle;
}
.span {
	float: left;
	margin: 0 10px 0 0;
	font-size: 14px;
	line-height: 20px;
	&.span1 {
		width: 100px;
	}
	&.span2 {
		width: 200px;
	}
	&.span3 {
		width: 300px;
	}
	&.span4 {
		width: 400px;
	}
	&.span5 {
		width: 500px;
	}
	&.span6 {
		width: 600px;
	}
	&.centred {
		display: block;
	  margin: 0 auto;
	  text-align: center;
	}
	&.inline {
		span {
			display: inline-block;
		}
	}
	&.offset {
		margin: 0 0 0 25px;
	}
	h3 {
		margin: 0 0 10px 0;
	}
	img {
		border: none;
    display: block;
	}
	span {
		display: block;
		line-height: 1.5;
		font-size: 18px;
		a, a:visited {
			border-bottom: 1px dashed #FE4365;
		}
	}
}
.span-2 {
	float: left;
	width: 500px;
}
.span-3 {
	float: left;
	width: 400px;
}

.picture {
	margin: 0 0 20px 20px;
}
.image {
	display: inline-block;
	.rounded {
		overflow: hidden;
		@include rounded(7px);
	}
	.circled {
		overflow: hidden;
		@include rounded(50%);
		&.large {
			width: 200px;
			height: 200px;
		}
	}
}

h1 {font-size: 48px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 20px;}

h1, h2, h3, h4 {
	font-weight: bold;
	text-rendering: optimizelegibility;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.fields {
	font-size: 16px;
	label {
		display: block;
		margin: 5px 0 5px 0;
	}
}

.textform {
	padding: 4px 6px;
	border: 1px solid #cccccc;
	@include rounded(3px);
	&.standart {
		width: 150px;
		height: 20px;
	}
	&.long {
		width: 200px;
		height: 20px;
	}
}

.textarea {
	padding: 4px 6px;
	border: 1px solid #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	resize: none;
	@include rounded(3px);
	&.small {
		width: 100px;
		height: 150px;
	}
	&.medium {
		width: 200px;
		height: 100px;
	}
	&.large {
		width: 318px;
		height: 150px;
	}
}

.button {
	display: inline-block;
	color: #ffffff;
	border: 0;
	&.volume {
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
		@include transition;
		@include box-shadow(0px, 6px, 0px, #BF324C);
		&.volume:active {
			@include box-shadow(0px, 2px, 0px, #BF324C);
			-webkit-transform: translate(0, 3px);
			-moz-transform: translate(0, 3px);
			transform: translate(0, 3px);
		}
	}
	&.inline {
		display: inline-block;
	}
	&.rounded {
		@include rounded(4px);
	}
	&.circled {
		@include rounded(4px);
	}
	&.contoured {
		border: 2px solid #000000;
		@include rounded(4px);
	}
	&.large {
		padding: 12px 22px;
		&.rounded {
			@include rounded(8px);
		}
	}
	&.medium {
		padding: 6px 16px;
		&.rounded {
			@include rounded(4px);
		}
	}
	&.small {
		padding: 4px 12px;
	}
	&.blue {
		background: #3ba4ff;
		&:hover {
			/*background: #00acff;*/
		}
	}
	&.pink {
		background: #FE4365;
		&:hover {
			/*background: #FF627E;*/
		}
	}
	&.green {
		background: #008000;
		&:hover {
			/*background: #FF627E;*/
		}
	}
	&.lime {
		background: #97BF3F;
		&:hover {
			/*background: #FF627E;*/
		}
	}
	&.azure {
		background: #41B0B3;
	}
}

.offset-1 {
	margin-left: 300px;
}

.central {
	text-align: center;
	/*letter-spacing: 7px; MAYBE PUT IT IN STYLES*/
	img {
		border: none;
    display: block;
    margin: 0 auto;
	}
	h1 {
		font-size: 100px;
		line-height: 1.25;
	}
	h2 {
		font-size: 40px;

	}
	.description {
		font-size: 30px;
		line-height: 2;
		/*letter-spacing: 5px; MAYBE PUT IT IN STYLES*/
		&.bold {
			font-weight: bold;
		}
	}
	.text-block {
		font-size: 30px;
		line-height: 1.5;
	}
}

.alert {
	padding: 14px;
	font-size: 14px;
	color: #ffffff;
	z-index: 999;
	@include rounded(3px);
	&.error {
		background-color: #EE4F4B;
	}
	&.success {
		background-color: #97BF3F;
	}
	&.warning {
		background-color: #F8CA4D;
	}
	&.notice {
		background-color: #6DBCDB;
	}
	&.center {
		display: table;
		margin: 0 auto
	}
}

.right {
	float: right
}
.left {
	float: left
}

/*.border {
	border: 2px solid;
	&.pink {
		border-color: #FE4365;
	}
}*/

.glyph {
	display: block;
	&.shopping-bag {
		width: 30px;
		height: 33px;
		text-align: center;
		vertical-align: middle;
		background: url('/images/icons.png') no-repeat -10px -10px;
	}
}

.large-offset {
	&.up {
		margin: 60px 0 0 0;
	}
	&.bottom {
		margin: 0 0 60px 0;
	}
}
.medium-offset {
	&.up {
		margin: 40px 0 0 0;
	}
	&.bottom {
		margin: 0 0 40px 0;
	}
}
.small-offset {
	&.up {
		margin: 20px 0 0 0;
	}
	&.bottom {
		margin: 0 0 20px 0;
	}
}
.extrasmall-offset {
	&.up {
		margin: 10px 0 0 0;
	}
	&.bottom {
		margin: 0 0 10px 0;
	}
}

.meta {
	&.small {
		font-size: 11px;
		color: #999;
	}
	&.italic {
		font-style: italic;
	}
	&.bold {
		font-weight: bold;
	}
	&.border {
		&.bottom {
			border-bottom: 1px solid #e5e5e5;
		}
		&.round {
			border: 1px solid #3ba4ff;
			border-radius: 20px;
			padding: 4px;
		}
	}
	&.underline {
		text-decoration: underline;
	}
}

.italic {
	font-style: italic;
}

.inline {
	display: inline-block;
}
