!!!
%html
  %head
    %title Voting
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/alerts'
    = render 'shared/header'
    .content
      = yield
